body{
    background-image: url("./assets/background.webp") ;
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    margin: 100px;
    padding: 20px 50px ;
    border-radius: 10px;
    display: center;
    background-color: antiquewhite;
}